.bothContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    -moz-column-gap: 5vw;
    column-gap: 5vw;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 1600px) {
    .bothContainer {
        padding-top: 1rem;
        padding-bottom: 0rem;
    }
    .bothContainer .aboutMe {
        font-size: 1.5rem !important;
    }
    .right-header .logoBoard .logo img {
        width: 80px !important;
        height: auto;
    }
}

@media screen and (max-width: 1450px) {
    .bothContainer {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media screen and (max-width: 600px) {
    .bothContainer {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}