.leftContainer {
    display: grid;
    padding-bottom: 1.5rem;
}
.left-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
    position: relative;
}
.left-header .left-con .possible {
    display: block;
    padding-bottom: 0rem;
    font-size: 3rem;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}
.left-header .left-con .possible span {
    color: var(--color-secondary);
}
.left-header .left-con .aboutMe {
    position: relative;
    padding-top: 2rem;
    text-align: center;
    font-size: 1.75rem;
    line-height: 175%;
}

@media screen and (max-width: 1600px) {
    .left-header .left-con .possible {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1450px) {
    .left-header {
        padding-left: 0 !important;
        width: 95%;
        margin: auto;
    }
    .left-header .left-con .aboutMe {
        width: 95%;
        margin: auto;
    }
}

@media screen and (max-width: 1000px) {
    .left-header .left-con .possible {
        font-size: 4vw;
    }
}

@media screen and (max-width: 600px) {
    .left-header .left-con .possible {
        font-size: 2rem;
    }
    .left-header .left-con .aboutMe {
        font-size: 1.25rem;
    }
}