.headerContainer {
    display: grid;
}

.initial-text {
    text-align: center;
    line-height: 4rem;
    font-size: 4rem;
}
.initial-text .colour {
    color: var(--color-secondary);
}

@media screen and (max-width: 900px) {
    .initial-text {
        font-size: 7vw;
    }
}

@media screen and (max-width: 600px) {
    .initial-text {
        font-size: 3rem;
    }
}