.headerContainer {
    display: grid;
}

.initial-text {
    justify-self: center;
    text-align: center;
    line-height: 4rem;
    font-size: 4rem;
    display: inline-flex;
    column-gap: 0;
}

.hidden {
    display: none;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}

.col {
    color: var(--color-secondary);
}

.initial-text .colour {
    color: var(--color-secondary);
}

.eachChar {
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

@keyframes jump {
    0% {
        transform: scale3d(1, 1, 1) !important;
    }

    20% {
        transform: scale3d(1.4, .55, 1);
    }

    40% {
        transform: scale3d(.75, 1.25, 1);
    }

    60% {
        transform: scale3d(1.25, .85, 1);
    }

    80% {
        transform: scale3d(.9, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1) !important;
    }
}

.jump {
    animation: jump 1s ease;
}

@media screen and (max-width: 900px) {
    .animation {
        display: none !important;
    }
    .mobile {
        display: block !important;
        font-size: 7vw;
    }
}

@media screen and (max-width: 600px) {
    .initial-text .animation {
        display: none !important;
    }
    .initial-text .mobile {
        display: block !important;
        font-size: 3rem;
    }
}