.blog-post {
    max-width: 800px;
    margin: 75px auto 20px;
    padding: 20px;
    position: relative;
  }
  
  .blog-header {
    margin-bottom: 20px;
    border-bottom: 1px solid var(color-white);
    padding-bottom: 10px;
  }
  
  .blog-title {
    font-size: 2rem;
    color: var(--color-grey-2-5);
    margin: 0;
  }
  
  .blog-date {
    font-size: 0.9rem;
    color: var(--color-grey-2-5);
  }
  
  .blog-section {
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 1.5rem;
    color: var(--color-grey-2-5);
    margin-top: 20px;
    border-bottom: 2px solid var(--color-grey-2-5);
    padding-bottom: 5px;
  }
  
  .blog-content {
    line-height: 1.6;
    font-size: 1rem;
    color: var(color-white);
  }
  
  .blog-footer {
    margin-top: 20px;
    border-top: 1px solid var(color-white);
    padding-top: 10px;
    text-align: right;
    font-size: 0.9rem;
    color: #666666;
  }
  
  .content {
    margin-top: 10px;
    font-weight: 300;
  }

  .coop-image{
    width: 100%;
    height: auto;
  }

  .company-logo {
    width: 100px;
    height: auto;
    position: absolute; 
    top: 10;
    right: 0;
    margin-right: 20px;
}