.right-wrapper {
    width: 80%;
    margin: auto;
}
.right-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 3rem;
    padding-top: 1.5rem;
}
.right-header h2 {
    text-align: center;
}
.right-header .logoBoard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    row-gap: 1.5rem;
    padding-top: 2rem;
}
.right-header .logoBoard .logo {
    position: relative;
    text-align: center;
    font-size: 4rem;
    transition: .3s ease-in-out;

}
.right-header .logoBoard .logo img {
    width: 90px;
    height: auto;
}
.right-header .logoBoard .logo .icon {
    width: 90px;
    height: auto;
}
.right-header .logoBoard .github img {
    background-color: var(--color-altprimary);
    border-radius: 25px;
}

.right-header .logoBoard:hover > .logo{
    opacity: 0.4;
}

.right-header .logoBoard .logo:hover {
    transition: .15s ease;
    scale: 1.12;
    opacity: 1 !important;
}

.right-header .logoBoard .logo .text {
    position: absolute;
    visibility: hidden;
    top: 0%;
    right: 50%;
    transform: translate(50%, -100%);
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    padding: 0.1rem;
    white-space: nowrap;
}
.right-header .logoBoard .logo:hover .text {
    visibility: visible;
    color: var(--white);
}

@media screen and (max-width: 1450px) and (min-width: 781px) {
    .right-header {
        width: 80%;
        margin: auto;
        padding-right: 0 !important;
        border-top: 2px solid var(--color-secondary);
    }
}

@media screen and (max-width: 780px) {
    .right-header {
        width: 80%;
        margin: auto;
        padding-right: 0 !important;
        border-top: 2px solid var(--color-secondary);
    }
    .right-header .logoBoard {
        grid-template-columns: repeat(3, 1fr);
    }
}