.titles {
    display: block;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 3rem;
}
.main-title {
    text-align: center;
    width: 100%;
}
.main-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 1.5rem;
}
.main-title h2 span {
    color: var(--color-secondary);
}
